<div
	class="flex items-center space-x-4 mb-4">
	<form method="GET" action="{{ path('app_books_list') }}" class="flex items-center space-x-2">
		<label for="genre" class="text-gray-700 font-medium">Genre :</label>
		<select name="genre" id="genre" class="px-4 py-2 border rounded-lg">
			<option value="">Tous</option>
			<option value="ANTIQUES & COLLECTIBLES" {{ selectedGenre == 'ANTIQUES & COLLECTIBLES' ? 'selected' : '' }}>ANTIQUITÉS & COLLECTIONS</option>
			<option value="ARCHITECTURE" {{ selectedGenre == 'ARCHITECTURE' ? 'selected' : '' }}>ARCHITECTURE</option>
			<option value="Art" {{ selectedGenre == 'Art' ? 'selected' : '' }}>ART</option>
			<option value="BIBLES" {{ selectedGenre == 'BIBLES' ? 'selected' : '' }}>BIBLES</option>
			<option value="BIOGRAPHY & AUTOBIOGRAPHY" {{ selectedGenre == 'BIOGRAPHY & AUTOBIOGRAPHY' ? 'selected' : '' }}>BIOGRAPHIES & MÉMOIRES</option>
			<option value="BUSINESS & ECONOMICS" {{ selectedGenre == 'BUSINESS & ECONOMICS' ? 'selected' : '' }}>AFFAIRES & ÉCONOMIE</option>
			<option value="COMICS & GRAPHIC NOVELS" {{ selectedGenre == 'COMICS & GRAPHIC NOVELS' ? 'selected' : '' }}>BANDES DESSINÉES & ROMANS GRAPHIQUES</option>
			<option value="COMPUTERS" {{ selectedGenre == 'COMPUTERS' ? 'selected' : '' }}>INFORMATIQUE</option>
			<option value="COOKING" {{ selectedGenre == 'COOKING' ? 'selected' : '' }}>CUISINE</option>
			<option value="CRAFTS & HOBBIES" {{ selectedGenre == 'CRAFTS & HOBBIES' ? 'selected' : '' }}>LOISIRS CRÉATIFS</option>
			<option value="DESIGN" {{ selectedGenre == 'DESIGN' ? 'selected' : '' }}>DESIGN</option>
			<option value="DRAMA" {{ selectedGenre == 'DRAMA' ? 'selected' : '' }}>THÉÂTRE</option>
			<option value="EDUCATION" {{ selectedGenre == 'EDUCATION' ? 'selected' : '' }}>ÉDUCATION</option>
			<option value="FAMILY & RELATIONSHIPS" {{ selectedGenre == 'FAMILY & RELATIONSHIPS' ? 'selected' : '' }}>FAMILLE & RELATIONS</option>
			<option value="Fantasy" {{ selectedGenre == 'Fantasy' ? 'selected' : '' }}>FANTASY</option>
			<option value="Fiction" {{ selectedGenre == 'Fiction' ? 'selected' : '' }}>FICTION</option>
			<option value="GAMES & ACTIVITIES" {{ selectedGenre == 'GAMES & ACTIVITIES' ? 'selected' : '' }}>JEUX & ACTIVITÉS</option>
			<option value="GARDENING" {{ selectedGenre == 'GARDENING' ? 'selected' : '' }}>JARDINAGE</option>
			<option value="HEALTH & FITNESS" {{ selectedGenre == 'HEALTH & FITNESS' ? 'selected' : '' }}>SANTÉ & FITNESS</option>
			<option value="HISTORY" {{ selectedGenre == 'HISTORY' ? 'selected' : '' }}>HISTOIRE</option>
			<option value="HOUSE & HOME" {{ selectedGenre == 'HOUSE & HOME' ? 'selected' : '' }}>MAISON & FOYER</option>
			<option value="HUMOR" {{ selectedGenre == 'HUMOR' ? 'selected' : '' }}>HUMOUR</option>
			<option value="JUVENILE FICTION" {{ selectedGenre == 'JUVENILE FICTION' ? 'selected' : '' }}>FICTION JEUNESSE</option>
			<option value="JUVENILE NONFICTION" {{ selectedGenre == 'JUVENILE NONFICTION' ? 'selected' : '' }}>DOCUMENTAIRES JEUNESSE</option>
			<option value="LANGUAGE ARTS & DISCIPLINES" {{ selectedGenre == 'LANGUAGE ARTS & DISCIPLINES' ? 'selected' : '' }}>ARTS DU LANGAGE & DISCIPLINES</option>
			<option value="LANGUAGE STUDY" {{ selectedGenre == 'LANGUAGE STUDY' ? 'selected' : '' }}>ÉTUDE DES LANGUES</option>
			<option value="LAW" {{ selectedGenre == 'LAW' ? 'selected' : '' }}>DROIT</option>
			<option value="LITERARY COLLECTIONS" {{ selectedGenre == 'LITERARY COLLECTIONS' ? 'selected' : '' }}>COLLECTIONS LITTÉRAIRES</option>
			<option value="LITERARY CRITICISM" {{ selectedGenre == 'LITERARY CRITICISM' ? 'selected' : '' }}>CRITIQUE LITTÉRAIRE</option>
			<option value="MATHEMATICS" {{ selectedGenre == 'MATHEMATICS' ? 'selected' : '' }}>MATHÉMATIQUES</option>
			<option value="MEDICAL" {{ selectedGenre == 'MEDICAL' ? 'selected' : '' }}>MÉDECINE</option>
			<option value="MUSIC" {{ selectedGenre == 'MUSIC' ? 'selected' : '' }}>MUSIQUE</option>
			<option value="NATURE" {{ selectedGenre == 'NATURE' ? 'selected' : '' }}>NATURE</option>
			<option value="PETS" {{ selectedGenre == 'PETS' ? 'selected' : '' }}>ANIMAUX DE COMPAGNIE</option>
			<option value="PHILOSOPHY" {{ selectedGenre == 'PHILOSOPHY' ? 'selected' : '' }}>PHILOSOPHIE</option>
			<option value="PHOTOGRAPHY" {{ selectedGenre == 'PHOTOGRAPHY' ? 'selected' : '' }}>PHOTOGRAPHIE</option>
			<option value="POLITICAL SCIENCE" {{ selectedGenre == 'POLITICAL SCIENCE' ? 'selected' : '' }}>SCIENCES POLITIQUES</option>
			<option value="POETRY" {{ selectedGenre == 'POETRY' ? 'selected' : '' }}>POÉSIE</option>
			<option value="PSYCHOLOGY" {{ selectedGenre == 'PSYCHOLOGY' ? 'selected' : '' }}>PSYCHOLOGIE</option>
			<option value="REFERENCE" {{ selectedGenre == 'REFERENCE' ? 'selected' : '' }}>RÉFÉRENCE</option>
			<option value="RELIGION" {{ selectedGenre == 'RELIGION' ? 'selected' : '' }}>RELIGION</option>
			<option value="Science" {{ selectedGenre == 'Science' ? 'selected' : '' }}>SCIENCE</option>
			<option value="Science Fiction" {{ selectedGenre == 'Science Fiction' ? 'selected' : '' }}>SCIENCE FICTION</option>
			<option value="SELF-HELP" {{ selectedGenre == 'SELF-HELP' ? 'selected' : '' }}>DÉVELOPPEMENT PERSONNEL</option>
			<option value="SOCIAL SCIENCE" {{ selectedGenre == 'SOCIAL SCIENCE' ? 'selected' : '' }}>SCIENCES SOCIALES</option>
			<option value="SPORTS & RECREATION" {{ selectedGenre == 'SPORTS & RECREATION' ? 'selected' : '' }}>SPORTS & LOISIRS</option>
			<option value="STUDY AIDS" {{ selectedGenre == 'STUDY AIDS' ? 'selected' : '' }}>AIDES À L'ÉTUDE</option>
			<option value="TECHNOLOGY & ENGINEERING" {{ selectedGenre == 'TECHNOLOGY & ENGINEERING' ? 'selected' : '' }}>TECHNOLOGIE & INGÉNIERIE</option>
			<option value="TRANSPORTATION" {{ selectedGenre == 'TRANSPORTATION' ? 'selected' : '' }}>TRANSPORTS</option>
			<option value="TRAVEL" {{ selectedGenre == 'TRAVEL' ? 'selected' : '' }}>VOYAGES</option>
			<option value="TRUE CRIME" {{ selectedGenre == 'TRUE CRIME' ? 'selected' : '' }}>CRIMES RÉELS</option>
			<option value="YOUNG ADULT FICTION" {{ selectedGenre == 'YOUNG ADULT FICTION' ? 'selected' : '' }}>FICTION JEUNES ADULTES</option>
			<option value="YOUNG ADULT NONFICTION" {{ selectedGenre == 'YOUNG ADULT NONFICTION' ? 'selected' : '' }}>DOCUMENTAIRES JEUNES ADULTES</option>
		</select>

		<label for="popular" class="text-gray-700 font-medium">Populaire :</label>
		<input
		type="checkbox" name="popular" id="popular" class="toggle-checkbox" {{ sortByPopularity ? 'checked' : '' }}>

		<button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg">Appliquer</button>
	</form>
</div>
